<!-- Labor Force Table -->
<div class="table-responsive">
    <h2>İşgücü Verileri</h2>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>İşsizlik Oranı</td>
                <td>
                    <%= predicted_unemployment_rate.toFixed(2) %>%
                </td>
            </tr>
            <tr>
                <td>İşgücüne Dahil Olmayanlar</td>
                <td>
                    <%= predicted_not_in_labor_force.toFixed(0) %>
                </td>
            </tr>
            <tr>
                <td>İşgücü Katılım Oranı</td>
                <td>
                    <%= predicted_labor_force_participation_rate.toFixed(2) %>%
                </td>
            </tr>
            <tr>
                <td>İstihdam Oranı</td>
                <td>
                    <%= predicted_employment_rate.toFixed(2) %>%
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Sector Predictions Table -->
<div class="table-responsive">
    <h2>Sektöre Göre İstihdam</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Category</th>
                <th>Value</th>
                <th>Percentage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tarım</td>
                <td>
                    <%= predicted_tarim.toFixed(0) %>
                </td>
                <td>
                    <%= predicted_tarim_yuzde.toFixed(2) %>%
                </td>
            </tr>
            <tr>
                <td>Sanayi</td>
                <td>
                    <%= predicted_sanayi.toFixed(0) %>
                </td>
                <td>
                    <%= predicted_sanayi_yuzde.toFixed(2) %>%
                </td>
            </tr>
            <tr>
                <td>İnşaat</td>
                <td>
                    <%= predicted_insaat.toFixed(0) %>
                </td>
                <td>
                    <%= predicted_insaat_yuzde.toFixed(2) %>%
                </td>
            </tr>
            <tr>
                <td>Hizmet</td>
                <td>
                    <%= predicted_hizmet.toFixed(0) %>
                </td>
                <td>
                    <%= predicted_hizmet_yuzde.toFixed(2) %>%
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Educational Attainment Table -->
<div class="table-responsive">
    <h2>Eğitim Durumuna Göre İşgücü Verileri</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Category</th>
                <th>Value</th>
                <th>Percentage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tahmini Okur-Yazar Olmayan İşgücü</td>
                <td>
                    <%= predicted_uneducated_labor_force.toFixed(0) %>
                </td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>Tahmini Okur-Yazar Olmayan İstihdam</td>
                <td>
                    <%= predicted_uneducated_employment.toFixed(0) %>
                </td>
                <td>
                    <%= ((predicted_uneducated_labor_force - predicted_uneducated_unemployment) /
                        predicted_uneducated_labor_force * 100).toFixed(2) %>%
                </td>
            </tr>
            <tr>
                <td>Tahmini Okur-Yazar Olmayan İşsizlik</td>
                <td>
                    <%= predicted_uneducated_unemployment.toFixed(0) %>
                </td>
                <td>
                    <%= (predicted_uneducated_unemployment / predicted_uneducated_labor_force *
                        100).toFixed(2) %>%
                </td>
            </tr>
            <tr>
                <td>Tahmini Lise Altı Eğitimli İşgücü</td>
                <td>
                    <%= predicted_less_than_highschool_labor_force.toFixed(0) %>
                </td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>Tahmini Lise Altı Eğitimli İstihdam</td>
                <td>
                    <%= predicted_less_than_highschool_employment.toFixed(0) %>
                </td>
                <td>
                    <%= ((predicted_less_than_highschool_labor_force -
                        predicted_less_than_highschool_unemployment) /
                        predicted_less_than_highschool_labor_force * 100).toFixed(2) %>%
                </td>
            </tr>
            <tr>
                <td>Tahmini Lise Altı Eğitimli İşsizlik</td>
                <td>
                    <%= predicted_less_than_highschool_unemployment.toFixed(0) %>
                </td>
                <td>
                    <%= (predicted_less_than_highschool_unemployment /
                        predicted_less_than_highschool_labor_force * 100).toFixed(2) %>%
                </td>
            </tr>
            <tr>
                <td>Tahmini Lise İşgücü</td>
                <td>
                    <%= predicted_highschool_labor_force.toFixed(0) %>
                </td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>Tahmini Lise İstihdam</td>
                <td>
                    <%= predicted_highschool_employment.toFixed(0) %>
                </td>
                <td>
                    <%= ((predicted_highschool_labor_force - predicted_highschool_unemployment) /
                        predicted_highschool_labor_force * 100).toFixed(2) %>%
                </td>
            </tr>
            <tr>
                <td>Tahmini Lise İşsizlik</td>
                <td>
                    <%= predicted_highschool_unemployment.toFixed(0) %>
                </td>
                <td>
                    <%= (predicted_highschool_unemployment / predicted_highschool_labor_force *
                        100).toFixed(2) %>%
                </td>
            </tr>
            <tr>
                <td>Tahmini Mesleki veya Teknik Lise İşgücü</td>
                <td>
                    <%= predicted_vocational_labor_force.toFixed(0) %>
                </td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>Tahmini Mesleki veya Teknik Lise İstihdam</td>
                <td>
                    <%= predicted_vocational_employment.toFixed(0) %>
                </td>
                <td>
                    <%= ((predicted_vocational_labor_force - predicted_vocational_unemployment) /
                        predicted_vocational_labor_force * 100).toFixed(2) %>%
                </td>
            </tr>
            <tr>
                <td>Tahmini Mesleki veya Teknik Lise İşsizlik</td>
                <td>
                    <%= predicted_vocational_unemployment.toFixed(0) %>
                </td>
                <td>
                    <%= (predicted_vocational_unemployment / predicted_vocational_labor_force *
                        100).toFixed(2) %>%
                </td>
            </tr>
            <tr>
                <td>Tahmini Yüksek Öğretim İşgücü</td>
                <td>
                    <%= predicted_highereducation_labor_force.toFixed(0) %>
                </td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>Tahmini Yüksek Öğretim İstihdam</td>
                <td>
                    <%= predicted_highereducation_employment.toFixed(0) %>
                </td>
                <td>
                    <%= ((predicted_highereducation_labor_force -
                        predicted_highereducation_unemployment) / predicted_highereducation_labor_force
                        * 100).toFixed(2) %>%
                </td>
            </tr>
            <tr>
                <td>Tahmini Yüksek Öğretim İşsizlik</td>
                <td>
                    <%= predicted_highereducation_unemployment.toFixed(0) %>
                </td>
                <td>
                    <%= (predicted_highereducation_unemployment / predicted_highereducation_labor_force
                        * 100).toFixed(2) %>%
                </td>
            </tr>
        </tbody>
    </table>
</div>