<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İşçi Atlası</title>
    <link rel="icon" href="/static/img/atlas.png" sizes="64x64" type="image/x-icon">
    <!-- bootstrap-->
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <!-- fontawesome-->
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/index.style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--harita için-->
    <!-- CSS dosyasını çağırma -->
    <link rel="stylesheet" href="/static/css/svg-turkiye-haritasi.css">




    <!-- JavaScript dosyasını çağırma -->
    <script src="/static/js/svg-turkiye-haritasi.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   


    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>





</head>

<body>





    <%- include("../partials/nav") %>

        <%- include('../partials/header') %>

            <%- include('../harita/svg-turkiye-haritasi-master/harita') %>

                <section id="grafikler">
                    <%- include('./grafiklerAnasayfa') %>
                </section>


                <div id="modal" class="modal pt-5">
                    <div class="modal-content">
                        <span class="close">&times;</span>                        
                    </div>
                </div>            



                <%- include('../haberler/haber.card.ejs') %>


                    <%- include('../partials/footer') %>

                        <script>
                            function goToSection() {

                                var hedefBolge = document.getElementById('grafikler');
                                hedefBolge.scrollIntoView({ behavior: 'smooth' });

                            }
                        </script>


</body>

</html>


<!--Grafik oluşturma-->
<script>

    // Strategy Interface
    class ChartStrategy {
        constructor(type, data, ctx) {
            this.type = type;
            this.data = data;
            this.ctx = ctx;
        }

        drawChart() {
            return new Chart(this.ctx, {
                type: this.type,
                data: this.data,
                // Diğer grafik ayarları...
            });
        }
    }

    // Veri alımı
    const chartDataTarim = JSON.parse('<%- chartDataTarim %>');
    const chartDataSanayi = JSON.parse('<%- chartDataSanayi %>');
    const chartDatatemel15yiltoplam = JSON.parse('<%- chartDatatemel15yiltoplam %>');
    const chartDatatemel15yiltoplamBar = JSON.parse('<%- chartDatatemel15yiltoplam %>');
    const charttemel15yilerkekData = JSON.parse('<%- charttemel15yilerkekData %>');
    const charttemel15yilkadinData = JSON.parse('<%- charttemel15yilkadinData %>');
    const charttemel15yilkadinDataBar = JSON.parse('<%- charttemel15yilkadinData %>');
    const charttemel15yilerkekDataBar = JSON.parse('<%- charttemel15yilerkekData %>');
    const chartBolgeleregoreistihdam2022yuzdeleri = JSON.parse('<%- chartBolgeleregoreistihdam2022yuzdeleri %>');
    const chartSgietoperkekData = JSON.parse('<%- chartSgietoperkekData %>');
    const chartSgietoperkekDataBar = JSON.parse('<%- chartSgietoperkekData %>');
    const chartSgietopkadinData = JSON.parse('<%- chartSgietopkadinData %>');
    const chartSgietopkadinDataBar = JSON.parse('<%- chartSgietopkadinData %>');

    // Canvas context'leri
    const ctxCubuk = document.getElementById('cubukGrafik').getContext('2d');
    const ctxNoktali = document.getElementById('noktaliGrafik').getContext('2d');
    const ctxNoktalitemel15yiltoplam = document.getElementById('Grafiktemel15yiltoplam').getContext('2d');
    const ctxNoktalitemel15yiltoplamBar = document.getElementById('Grafiktemel15yiltoplamBar').getContext('2d');
    const ctxtemel15yilerkekData = document.getElementById('charttemel15yilerkekData').getContext('2d');
    const ctxtemel15yilerkekDataBar = document.getElementById('charttemel15yilerkekDataBar').getContext('2d');
    const ctxtemel15yilkadinData = document.getElementById('charttemel15yilkadinData').getContext('2d');
    const ctxtemel15yilkadinDataBar = document.getElementById('charttemel15yilkadinDataBar').getContext('2d');
    const ctxcBolgeleregoreistihdam2022yuzdeleri = document.getElementById('chartBolgeleregoreistihdam2022yuzdeleri').getContext('2d');
    const ctxSgietoperkekData = document.getElementById('chartSgietoperkekData').getContext('2d');
    const ctxSgietoperkekDataBar = document.getElementById('chartSgietoperkekDataBar').getContext('2d');
    const ctxSgietopkadinData = document.getElementById('chartSgietopkadinData').getContext('2d');
    const ctxSgietopkadinDataBar = document.getElementById('chartSgietopkadinDataBar').getContext('2d');

    // Strategies oluşturma
    const chartStrategies = [
        new ChartStrategy('bar', chartDataTarim, ctxCubuk),
        new ChartStrategy('line', chartDataSanayi, ctxNoktali),
        new ChartStrategy('line', chartDatatemel15yiltoplam, ctxNoktalitemel15yiltoplam),
        new ChartStrategy('bar', chartDatatemel15yiltoplamBar, ctxNoktalitemel15yiltoplamBar),
        new ChartStrategy('line', charttemel15yilerkekData, ctxtemel15yilerkekData),
        new ChartStrategy('bar', charttemel15yilerkekDataBar, ctxtemel15yilerkekDataBar),
        new ChartStrategy('line', charttemel15yilkadinData, ctxtemel15yilkadinData),
        new ChartStrategy('bar', charttemel15yilkadinDataBar, ctxtemel15yilkadinDataBar),
        new ChartStrategy('radar', chartBolgeleregoreistihdam2022yuzdeleri, ctxcBolgeleregoreistihdam2022yuzdeleri),
        new ChartStrategy('line', chartSgietoperkekData, ctxSgietoperkekData),
        new ChartStrategy('bar', chartSgietoperkekDataBar, ctxSgietoperkekDataBar),
        new ChartStrategy('line', chartSgietopkadinData, ctxSgietopkadinData),
        new ChartStrategy('bar', chartSgietopkadinDataBar, ctxSgietopkadinDataBar),
        // Diğer stratejiler...
    ];

    const charts = chartStrategies.map(strategy => strategy.drawChart());


</script>

<!-- JavaScript kısmı -->
<script src="../../static/js/grafik-hide.js"></script>

<!-- Bootstrap js-->
<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>