<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labor Rights</title>
    <!-- bootstrap-->
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <!-- fontawesome-->
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/sendikalar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />





</head>

<body>




    <%- include("../partials/nav") %>


        <section class="sendika-header">
            <div class="container">
                <div class="col-md-12">
                    <div class="head text-center py-3">
                        <h2>Türkiye'de Sendikalaşma</h2>
                        <p>Türkiye'de sendikalaşma süreci, bir dizi karmaşık sorunla karşı karşıya. Özellikle işçi
                            sendikalarının özgürce faaliyet gösterememesi ve sendikalı olmanın teşvik edilmemesi
                            gibi
                            önemli
                            engeller bulunuyor. İşverenlerin sendika üyelerine yönelik baskıları, işten çıkarmalar
                            veya
                            ayrımcılık gibi uygulamalar, işçilerin sendikalaşma haklarını kullanmalarını engelliyor.
                            Bununla
                            birlikte, belirli sektörlerde sendikaların etkin olamaması ve sendikalı işçi sayısının
                            düşük
                            olması, sendikalaşmanın yaygınlaşmasını ve etkili olmasını zorlaştırıyor. Bu durum, işçi
                            haklarının korunması, daha adil çalışma koşullarının sağlanması ve işçi temsilinin
                            güçlenmesi
                            açısından önemli bir sorun olarak karşımıza çıkıyor. Sendikal hakların daha geniş
                            kapsamda
                            korunması ve desteklenmesi, işçilerin güçlenmesi ve iş ilişkilerinin daha dengeli bir
                            noktaya
                            gelmesi açısından kritik bir öneme sahip.</p>
                    </div>
                </div>
            </div>
            <%- include("sendika-header-card") %>
        </section>

        

        <h2 class="text-center pt-5">Türkiye'deki Sendikalar ve İşçi Sendikaları Konfederasyonları</h2>

        <section class="sendikalar">
            <div class="col-md-12">
                <div class="container">
                    <div class="row">                        
                            <%- include('sendika-card') %>                        
                    </div>
                </div>
            </div>
        </section>


        <%- include('./sendika-modal') %>
            <%- include('../partials/footer') %>





</body>

</html>




<!-- Bootstrap js-->
<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>