<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labor Rights</title>
    <!-- bootstrap-->
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <!-- fontawesome-->
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/isci-ve-isveren.style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="/libs/jquery/dist/jquery.min.js"></script>


</head>

<body>




    <%- include("../partials/nav") %>

        <header id="haklar-header" style="padding-top: 104px;">
            <div class="container py-5">
                <div class="yazi">
                    <h3 class="text-uppercase fw-normal text-center">İşveren ve İşçİ Hakları İle Yükümlülüklerİnİn
                        Hukukİ Dayanakları
                    </h3>
                    <p> İşçi hakları ve işveren hakları ve yükümlülükleri konusundaki temel mevzuatımız anayasamızdır.

                        Bunun dışında Türkiye’nin taraf olduğu uluslararasını anlaşmalar da anayasa ve yasal arasında
                        bir
                        hiyerarşiye sahip ve uygulama hiyerarşisi yönünden yasalardan üstün durumdadır.

                        İşçi hakları ile ilgili en temel düzenlemeler ILO ( Dünya Çalışma Örgütü ) sözleşmeleridir. <a
                            target="_blank"
                            href="https://www.ilo.org/wcmsp5/groups/public/---europe/---ro-geneva/---ilo-ankara/documents/genericdocument/wcms_645630.pdf">Türkiyenin
                            imzaladığı ILO sözleşmelerine</a> ulaşmak için yazı başlığına tıklayabilirsiniz.

                        Türkiye mevzuatı açısından da kanunlarımız bu mevzuatlara aykırı olmamak üzere yürürlüğe
                        konulmalıdır.

                        İş hukukta ise Temel Yasamız 6098 Sayılı Borçlar Kanunu, 4857 Sayılı İş Kanunu, 5510 Sayılı
                        Sosyal
                        Sigortalar ve Genel Sağlık Sigortası Kanunu ve bu kanunlara göre düzenlenmiş yönetmelik ve
                        tebliğlerdir.

                    </p>

                </div>


            </div>

        </header>



        <div class="container py-5">
            <div class="row text-center">
                <div class="col-md-4 col-xl-6">
                    <div class="card bg-c-blue order-card btn" id="sosyal-btn">
                        <div class="card-block">
                            <h6 class="m-b-20">Sosyal Sigortalar Ve Genel Sağlık Sigortası Kanunundan Doğan
                                Yükümlülükler</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xl-6">
                    <div class="card bg-c-green order-card btn" id="cezai-btn">
                        <div class="card-block">
                            <h6 class="m-b-20">İş Hukuku Yükümlülüklerine Uyulmamasının Hukuki ve Cezai Yaptırımları
                            </h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xl-6">
                    <div class="card bg-c-yellow order-card btn" id="isci-btn">
                        <div class="card-block">
                            <h6 class="m-b-20">İşçi Hakları Nelerdir?</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xl-6">
                    <div class="card bg-c-pink order-card btn" id="isveren-btn">
                        <div class="card-block">
                            <h6 class="m-b-20">İşveren Hakları Nelerdir?</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <section class="haklar-section">
            <div class="container py-4">
                <div class="isci">
                    <div class="haklar-header-content">
                        <h2>İşçi Hakları ve Sorumluluları Nelerdir?</h2>
                        <p>İş hukukunda işçi ile işveren arasındaki iş ilişkisinin işçinin kişiliğine bağlı olduğu kabul
                            edilir. Bu durumun sonucu olarak da birtakım bilinmesi gereken işçi hakları ortaya çıkar.
                        </p>
                    </div>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <% isci.forEach(function(kanun) { %>
                            <div class="accordion-item">

                                <h2 class="accordion-header" id="flush-heading<%= kanun.kanun_id %>">
                                    <button class="accordion-button collapsed fs-4" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= kanun.kanun_id %>"
                                        aria-expanded="false" aria-controls="flush-collapse<%= kanun.kanun_id %>">
                                        <p>
                                            <%= kanun.kanunBasligi %>
                                        </p>
                                    </button>
                                </h2>

                                <div id="flush-collapse<%= kanun.kanun_id %>" class="accordion-collapse collapse"
                                    aria-labelledby="flush-heading<%= kanun.kanun_id %>"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <ul>
                                            <% isciKanunlari.forEach(kanunIcerik=> { %>

                                                <li>
                                                    <%= kanunIcerik.icerik %>
                                                </li>
                                                <% }) %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <% }); %>

                    </div>
                </div>

                <div class="isveren">
                    <div class="haklar-header-content">
                        <h2>İşveren Hakları ve Sorumluluları Nelerdir?</h2>
                        <p>İşverenlerin yükümlülükleri ve işçilerin hakları konularındaki genel düzenleme bilindiği
                            üzere İş
                            Kanunu ve hüküm bulunmayan hallerde ise 6098 Sayılı Borçlar Kanunudur. 4857 sayılı İş
                            Kanununda,
                            5510 Sayılı Kanunda, Borçlar Kanununda ve genel olarak iş mevzuatının bütününde işverenlerin
                            yükümlülükleri gösterilmiştir.
                            İşçinin borçlarının yanında işverenlerin yükümlülükleri doğal olarak daha geniş ve ayrıntısı
                            ile
                            açıklanmıştır.</p>
                    </div>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <% isveren.forEach(function(kanun) { %>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed fs-4" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                        aria-expanded="false" aria-controls="flush-collapseOne">
                                        <p>
                                            <%= kanun.kanunbasligi %>
                                        </p>
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <strong>
                                            <%=kanun.madde_numarasi %>
                                        </strong>
                                        <ul>
                                            <li>
                                                <%=kanun.icerik %>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <% }); %>

                    </div>
                </div>
                <div class="sosyal">
                    <div class="haklar-header-content">
                        <h2>
                            <%= sosyal.baslik %>
                        </h2>

                    </div>
                    <hr>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <ul>
                            <li>
                                <%= sosyal.madde1 %>
                            </li>
                            <li>
                                <%= sosyal.madde2 %>
                            </li>
                            <li>
                                <%= sosyal.madde3 %>
                            </li>
                            <li>
                                <%= sosyal.madde4 %>
                            </li>
                            <li>
                                <%= sosyal.madde5 %>
                            </li>
                            <li>
                                <%= sosyal.madde6 %>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cezai">
                    <div class="haklar-header-content">
                        <h2>
                            <%= cezai.baslik %>
                        </h2>

                    </div>
                    <hr>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <ul>
                            <li>
                                <%= cezai.madde1 %>
                            </li>
                            <li>
                                <%= cezai.madde2 %>
                            </li>
                            <li>
                                <%= cezai.madde3 %>
                            </li>
                            <li>
                                <%= cezai.madde4 %>
                            </li>
                            <li>
                                <%= cezai.madde5 %>
                            </li>
                            <li>
                                <%= cezai.madde6 %>
                            </li>
                            <li>
                                <%= cezai.madde7 %>
                            </li>
                            <li>
                                <%= cezai.madde8 %>
                            </li>

                        </ul>
                    </div>
                </div>


            </div>
        </section>











        <script src="../../static/js/haklar-jquery.js"></script>

        <%- include('../partials/footer') %>

</body>

</html>




<!-- Bootstrap js-->
<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>